# ======================
# Python / Django
# ======================
__pycache__/
*.py[cod]

# ======================
# Virtual Environment
# ======================
venv/
env/
Lib/
Scripts/
pyvenv.cfg

# ======================
# Environment variables
# ======================
.env

# ======================
# Database
# ======================
db.sqlite3

# ======================
# Static & Media (اختياري)
# ======================
staticfiles/
media/

# ======================
# IDE / Editor
# ======================
.vscode/
.idea/

# ======================
# OS files
# ======================
Thumbs.db
.DS_Store